@using Store.Parser
@model Store.Models.LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

<div id="loginForm" data-load-form="Login" class="formItem active fadeInRight animated">
    <h2>Выполнить вход</h2>
    @Html.EditorFor(m => m.Email, new { data_bind = "value: Email" })
    @Html.EditorFor(m => m.Password, new { data_bind = "value: Password" })
    @Html.EditorFor(m => m.RememberMe, "Boolean")
    <div class="item-control">
        <a class="btn" data-bind="click: login">Вход</a>
    </div>
</div>

@Scripts.Render("~/bundles/login")

<script type="text/javascript">
    var viewModel = new LoginDataModel(@Html.Raw(Model.ToJson()));
    ko.applyBindings(viewModel, $('#loginForm')[0]);
</script>