@using Store.Parser
@model Store.Models.LoginViewModel

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "formItem", id = "loginForm" }))
{
    @Html.AntiForgeryToken()
    <h2>@Resources.Resource.Login</h2>
    <div class="item-control">
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    @Html.EditorFor(m => m.Email, new { data_bind = "value: Email" })
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    @Html.EditorFor(m => m.Password, new { data_bind = "value: Password" })
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    @Html.EditorFor(m => m.RememberMe, "Boolean")
    <div class="item-control">
        <input type="submit" value="@Resources.Resource.Login" class="btn" />
    </div>
}
