@using Store.Parser
@model Store.Models.RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "formItem", role = "form", id = "registerForm" }))
{
    @Html.AntiForgeryToken()
    <h2>@Resources.Resource.Register</h2>
    <div class="item-control">
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    @Html.EditorFor(m => m.Email, new { data_bind = "value: Email" })
    @Html.EditorFor(m => m.Password, new { data_bind = "value: Password" })
    @Html.EditorFor(m => m.ConfirmPassword, new { data_bind = "value: ConfirmPassword" })
    <div class="item-control">
        <input type="submit" value="@Resources.Resource.Register" class="btn" />
    </div>
}