@using Store.Parser
@model Store.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<div id="registerForm" data-load-form="Register" class="formItem fadeInRight animated">
    <h2>Регистрация</h2>
    @Html.EditorFor(m => m.FirstName, new { data_bind = "value: FirstName" })
    @Html.EditorFor(m => m.LastName, new { data_bind = "value: LastName" })
    @Html.EditorFor(m => m.RegisterEmail, new { data_bind = "value: RegisterEmail" })
    @Html.EditorFor(m => m.RegisterPassword, new { data_bind = "value: RegisterPassword" })
    @Html.EditorFor(m => m.ConfirmPassword, new { data_bind = "value: ConfirmPassword" })
    <div class="item-control">
        <input type="button" value="Зарегистрироваться" class="btn" data-bind="click: registerate" />
    </div>
</div>

@Scripts.Render("~/bundles/register")

<script type="text/javascript">
    var viewModel = new RegisterDataModel(@Html.Raw(Model.ToJson()));
    ko.applyBindings(viewModel, $('#registerForm')[0]);
</script>
