<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет магазин</title>
    <link href="~/Content/less/Main.less" rel="stylesheet/less" type="text/css" />
    <script src="~/Scripts/jsfw/less.js" type="text/javascript"></script>

    @Styles.Render("~/Content/css/css")
    @Scripts.Render("~/bundles/jsfw/modernizr")

</head>
<body class="flex-content">
    <div class="left-aside">
        @Html.Partial("Partials/Menu")
    </div>
    <div class="wrapper">
        <header class="header">
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </header>
        <div class="content">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jsfw/jquery")
    @Scripts.Render("~/bundles/jsfw/bootstrap")
    @Scripts.Render("~/bundles/jsfw/knockout")
    @Scripts.Render("~/bundles/plugins/snapsvg")
    @Scripts.Render("~/bundles/plugins/slimScroll")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $(".left-aside").toggleClass("toggled");
        });
    </script>

</body>
</html>
