<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет магазин</title>
    <link href="~/Content/less/Main.less" rel="stylesheet/less" type="text/css" />
    <script src="~/Scripts/jsfw/less.js" type="text/javascript"></script>

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/slimScroll")

</head>
<body>
    <div class="left-aside">
        <h2><span>Store</span></h2>
        <div class="aside-category-list">
            @Html.Partial("Partials/Menu")
        </div>
        @Html.Partial("Partials/ProductFilter")
    </div>
    <div class="wrapper">
        @Html.Partial("Partials/Header")
        <div class="content">
            @RenderBody()
            <script type="text/javascript">
                app.initialize();
                ko.applyBindings(app, $('body')[0]);
            </script>
        </div>
    </div>

    @Scripts.Render("~/bundles/snapsvg")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

</body>
</html>
