@using Store.Models
@model Product
<script src="~/Scripts/app/DetailViewModel.js" type="text/javascript"></script>

@{
    Image image = Model.Images.FirstOrDefault(img => img.refDevice == Model.Id);
}

<div class="detail-info animated fadeInRight">
    <a id="back" class="basket-btn">Назад</a>
    <h2><span>@Model.Name</span></h2>
    <div class="product">
        <div class="product-image">
            <img class="product-image" src=@image.Url />
        </div>
        <div class="product-buy">
            <div class="price">@Model.Price</div>
            <a class="pay-btn">Купить</a>
            <a class="basket-btn">В корзину</a>
        </div>
    </div>
    <div class="product-info">
        <h2>Технические характеристики</h2>
        @{
            <table>
                <tr><td class="td-attr">Наименование</td><td class="td-value">@Model.Name</td></tr>
                <tr><td class="td-attr">Бренд</td><td class="td-value">@Model.refManufacturers</td></tr>
                <tr><td class="td-attr">Оперативная память (RAM), Мб</td><td class="td-value">@Model.RAM</td></tr>
                <tr><td class="td-attr">Операционная система</td><td class="td-value">@Model.refProcessor</td></tr>
                <tr><td class="td-attr">Цена</td><td class="td-value">@Model.Price</td></tr>
                <tr><td class="td-attr">WiFi</td><td class="td-value">@Model.WiFi</td></tr>
                <tr><td class="td-attr">Объем встроенной памяти, Гб</td><td class="td-value">@Model.BuildMemory</td></tr>
                <tr><td class="td-attr">Bluetooth</td><td class="td-value">@Model.Bluetooth</td></tr>
                <tr><td class="td-attr">Цвет</td><td class="td-value">@Model.Color</td></tr>
                <tr><td class="td-attr">Дата загрузки</td><td class="td-value">@Model.Date</td></tr>
            </table>
        }
    </div>
</div>

