@using Store.Models
@model Product

@{
    Image image = Model.Images.FirstOrDefault(img => img.refDevice == Model.Id);
    string bluetooth = Model.Bluetooth == true ? "Есть" : "Нет";
    string wifi = Model.WiFi == true ? "Есть" : "Нет";
}

<div class="detail-info animated fadeInRight">
    <a id="back" data-bind="click:callBack" class="basket-btn">Назад</a>
    <h2><span>@Model.Name</span></h2>
    <div class="product">
        <div class="product-image">
            <img class="product-image" src=@image.Url />
        </div>
        <div class="product-buy">
            <div class="price">@Model.Price</div>
            <a class="pay-btn" data-bind="click:payProduct">Купить</a>
            <a class="basket-btn" data-bind="click:putInBasket">В корзину</a>
        </div>
    </div>
    <div class="product-info">
        <h2>Технические характеристики</h2>
        @{
            <table>
                <tr><td class="td-attr">Наименование</td><td class="td-value">@Model.Name</td></tr>
                <tr><td class="td-attr">Производитель</td><td class="td-value">@Model.Manufacturers.Name</td></tr>
                <tr><td class="td-attr">Цена</td><td class="td-value">@Model.Price</td></tr>
                <tr><td class="td-attr">Цвет</td><td class="td-value">@Model.Color</td></tr>
                <tr><td class="td-attr">Дата поступление продукта</td><td class="td-value">@Model.Date</td></tr>
                <tr><td class="td-attr">WiFi</td><td class="td-value">@wifi</td></tr>
                <tr><td class="td-attr">Дисплей</td><td class="td-value">@Model.Display.ScreenResolution</td></tr>
                <tr><td class="td-attr">Bluetooth</td><td class="td-value">@bluetooth</td></tr>
                @if (Model.TypeProduct == 1)
                {
                    @Html.Partial("Partials/PhoneInfo");
                }
                else if (Model.TypeProduct == 2)
                {
                    @Html.Partial("Partials/NotebookInfo");
                }
            </table>
        }
    </div>
    <script type="text/javascript">
        ko.applyBindings(app, $('.detail-info')[0]);
    </script>
</div>
