@using Store.Models
@model Product

<tr><td class="td-attr">Оперативная память</td><td class="td-value">@Model.RAM</td></tr>
<tr><td class="td-attr">Операционная система</td><td class="td-value">@Model.OperatingSystem</td></tr>
<tr><td class="td-attr">Процессор</td><td class="td-value">@Model.Processor.Type</td></tr>
<tr><td class="td-attr">Время работы, час</td><td class="td-value"></td></tr>
<tr><td class="td-attr">Видеокарта</td><td class="td-value">@Model.VideoCard.Name</td></tr>
<tr><td class="td-attr">Объем видеокарты</td><td class="td-value">@Model.VideoCard.Memory</td></tr>
<tr><td class="td-attr">Жесткий диск, Гб</td><td class="td-value">@Model.HardDisk.HDD</td></tr>