@using Store.Models
@model Product

<tr><td class="td-attr">@Resources.Resource.RAM</td><td class="td-value">@Model.RAM</td></tr>
<tr><td class="td-attr">@Resources.Resource.OperatingSystem</td><td class="td-value">@Model.OperatingSystem</td></tr>
<tr><td class="td-attr">@Resources.Resource.Processor</td><td class="td-value">@Model.Processor.Type</td></tr>
<tr><td class="td-attr">@Resources.Resource.Power</td><td class="td-value"></td></tr>
<tr><td class="td-attr">@Resources.Resource.VideoCardName</td><td class="td-value">@Model.VideoCard.Name</td></tr>
<tr><td class="td-attr">@Resources.Resource.VideoCard</td><td class="td-value">@Model.VideoCard.Memory</td></tr>
<tr><td class="td-attr">@Resources.Resource.HardDisk</td><td class="td-value">@Model.HardDisk.HDD</td></tr>