@using Store.Models
@model Product

<tr><td class="td-attr">@Resources.Resource.RAM</td><td class="td-value">@Model.RAM</td></tr>
<tr><td class="td-attr">@Resources.Resource.OperatingSystem</td><td class="td-value">@Model.OperatingSystem</td></tr>
<tr><td class="td-attr">@Resources.Resource.Processor</td><td class="td-value">@Model.Processor.Type</td></tr>
<tr><td class="td-attr">@Resources.Resource.Camera</td><td class="td-value">@Model.Camera.MaxResolution</td></tr>
<tr><td class="td-attr">@Resources.Resource.BuildMemory</td><td class="td-value">@Model.BuildMemory</td></tr>
