@using Store.Models
@model Product

<tr><td class="td-attr">Оперативная память, Гб</td><td class="td-value">@Model.RAM</td></tr>
<tr><td class="td-attr">Операционная система</td><td class="td-value">@Model.OperatingSystem</td></tr>
<tr><td class="td-attr">Процессор</td><td class="td-value">@Model.Processor.Type</td></tr>
<tr><td class="td-attr">Мощность</td><td class="td-value">@Model.Power.BatteryWork</td></tr>
<tr><td class="td-attr">Камера</td><td class="td-value">@Model.Camera.MaxResolution</td></tr>
<tr><td class="td-attr">Объем встроенной памяти, Гб</td><td class="td-value">@Model.BuildMemory</td></tr>
