@using Store.Models
@model IEnumerable<Check>

<script src="~/Scripts/plugins/dataTable/jquery.dataTables.js"></script>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-table">
    <h2>Заказы</h2>
    <table id="example">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Заказчик</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Дата заказа</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var elem in Model)
            {
                <tr>
                    <td>@elem.ProductInfo.Name</td>
                    <td>@elem.UserInfo</td>
                    <td>@elem.Money</td>
                    <td>@elem.Quentity</td>
                    <td>@elem.Date</td>
                    <td class="action-item"><a class="delete-btn" data-checkid="@elem.Id" data-bind="click:removeCheck" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $('#example').dataTable();
    $('#example tbody tr').each(function () {
        if (!$(this).hasClass('knocked')) {
            $(this).addClass('knocked');
        }
    });
    $('#example_next, select[name=example_length]').bind('click', function () {
        $('#example tbody tr').each(function () {
            if (!$(this).hasClass('knocked')) {
                $(this).addClass('knocked');
                ko.applyBindings(app, $(this).children('.action-item')[0]);
            }
        });
    });
</script>

