
<h2>@Resources.Resource.AboutUs</h2>
<p>
    @Resources.Resource.About1
</p>
<p>
    @Resources.Resource.About2
</p>
<p>
    @Resources.Resource.About3
</p>
<p>
   @Resources.Resource.About4
</p>
<p>
    @Resources.Resource.About5
</p>
<p>
    @Resources.Resource.About6 
</p>