<div style="display:flexbox; flex-direction:row; justify-content:flex-start;">
    <h2>@Resources.Resource.Contacts</h2>
    <p>
        @Resources.Resource.Contact1
    </p>
    <p>
        @Resources.Resource.Contact2 <a href="#">callcenter@store.kz</a>
    </p>
    <p>
        <font size="3"><font color="#FF8C00"><b>@Resources.Resource.Contact3</b></font></font>
        Интернет-магазин
        тел: +7 (727) 2799999
        e-mail: <a href="#">callcenter@store.kz</a>
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
    </p>
    <p>
        <font size="3"><font color="#FF8C00"><b>@Resources.Resource.Contact4</b></font></font>
        Департамент рекрутинга
        @Resources.Resource.Contact5
        e-mail: <a href="#">cv@store.kz</a>
    </p>


    <address>
        <strong>Support:</strong>   <a href="#">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="#">Marketing@example.com</a>
    </address>
</div>