<script src="~/Scripts/plugins/carousel/jquery-image-scale-carousel.js"></script>

<div id="photo_container"></div>
<p>
    <font size="3"><font color="#FF8C00"><b>Hоутбук Asus</b></font></font><br /><br />
    @Resources.Resource.Index1
</p>
<div style="display:flex;flex-direction:row;justify-content:center"><img src="~/Content/img/ASUS_general_4.jpg" /><br /></div>
<p>
    <font size="3"><font color="#FF8C00"><b>Samsung Galaxy S6 </b></font></font><br /><br />
    @Resources.Resource.Index2
</p>
<div style="display:flex;flex-direction:row;justify-content:center">
    <img src="~/Content/img/920.jpg" /><br />
</div>
<p>
    @Resources.Resource.Index3
</p>
<p>
    <font size="3"><font color="#FF8C00"><b>Samsung Galaxy Alpha </b></font></font><br />
    <br />
    @Resources.Resource.Index4
</p>
<div style="display:flex;flex-direction:row;justify-content:center">
    <img src="~/Content/img/samasung_alpha.jpg" /><br />
</div>

<p>
    <font size="3"><font color="#FF8C00"><b>Apple iPhone 6</b></font></font><br /><br />
    @Resources.Resource.Index5
</p>
<div style="display:flex;flex-direction:row;justify-content:center">
    <img src="~/Content/img/73137032.jpg" />
</div>
<p>
    @Resources.Resource.Index6
</p>
