@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flexbox;flex-direction:row; justify-content:flex-start;">
    <h2>@Resources.Resource.OurEvents</h2>
    <font size="3">
        <font color="#FF8C00">
            <b>
                @Resources.Resource.OurEvents1
            </b>
        </font>
    </font>
    <p>
        @Resources.Resource.OurEvents2
    </p>
    <font size="3">
        <font color="#FF8C00">
            <b>
                @Resources.Resource.OurEvents3
            </b>
        </font>
    </font>
    <p>
        @Resources.Resource.OurEvents4
    </p>
    <div style="display:flex;flex-direction:row;justify-content:center">
        <img src="~/Content/img/_MG_1975.jpg" style="width:400px; height:300px;">
    </div>
    <font size="3">
        <font color="#FF8C00">
            <b>
                @Resources.Resource.OurEvents5
            </b>
        </font>
    </font>
    <p>
        @Resources.Resource.OurEvents6
    </p>
</div>