@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flexbox;flex-direction:row; justify-content:flex-start;">
    <h2>@Resources.Resource.CustomerCare</h2>
    <img src="~/Content/icons/png/supp.jpg" />
    <br />
    <font size="3"><font color="#FF8C00"><b>«Технозабота»</b></font></font>
    <p>
        @Resources.Resource.Support1
    </p>
    <br />
    <font size="3"><font color="#FF8C00"><b>@Resources.Resource.Support6 </b></font></font>
    <p>
       @Resources.Resource.Support2
    </p>
    <font size="3"><font color="#FF8C00"><b>@Resources.Resource.Support7</b></font></font>
    <p>
        @Resources.Resource.Support3
    </p>
    <font size="3"><font color="#FF8C00"><b>@Resources.Resource.Support4</b></font></font>
    <p>
        @Resources.Resource.Support5<br />

        <font color="#FF8C00"><b>Тел.:</b></font><b>8 (727) 111 11 11</b><br />
        <font color="#FF8C00"><b>Моб.:</b></font><b>8 800 111 11 11</b> (звонок по Казахстану бесплатный)<br />
        <font color="#FF8C00"><b>Моб.:</b></font><b>1111</b> (для абонентов сотовых сетей)<br />
        <font color="#FF8C00"><b>E-mail:</b></font><a href="#">callcenter@store.kz</a>
    </p>
</div>