@using Store.Models
@model Product

@{
    ViewBag.Title = "UserSale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper CreateSelect(string[] list, string id)
{
    <select id="@id">
        @for (int i = 0; i < list.Length; i++)
        {
            <option value="@i">@list[i]</option>
        }
    </select>
}
@{
    string[] HardDisks = { "Память(HDD, SSD)", "1000Гб", "500Гб", "500Гб, 128Гб", "500Гб, 50Гб", "2000Гб, 100Гб" };
    string[] OperSystemList = { "Операционная система", "Android", "iOS", "Windows 8", "Windows 8.1", "Windows 10", "Linux", "Windows Phone" };
}

<div class="formItem">
    <h2>Подать объявление</h2>
    <div class="main-scope">
        @Html.EditorFor(m => m.Name, new { data_bind = "value: Name" })
        @Html.EditorFor(m => m.Price, new { data_bind = "value: Price" })
        @Html.EditorFor(m => m.Color, new { data_bind = "value: Color" })
        @Html.EditorFor(m => m.Date, new { data_bind = "value: DateOfCreate" })
        @Html.EditorFor(m => m.Bluetooth, new { data_bind = "value: Bluetooth" })
        @Html.EditorFor(m => m.WiFi, new { data_bind = "value: WiFi" })
        <div class="item-control">
            @Html.LabelFor(m => m.TypeProduct, new { @class = "label-control" })
            <select id="typeProduct" data-bind="selectedOptions:selectedItems">
                <option value="0">Тип продукта</option>
                <option value="1">Смартфон</option>
                <option value="2">Ноутбук</option>
                <option value="3">Телевизор</option>
            </select>
        </div>
    </div>
    <div class="phone-scope passive animated">
        @Html.EditorFor(m => m.RAM, new { data_bind = "value: RAM" })
        <div class="item-control">
            @Html.LabelFor(m => m.OperatingSystem, new { @class = "label-control" })
            @CreateSelect(OperSystemList, "OperatingSystem")
        </div>
        @Html.EditorFor(m => m.BuildMemory, new { data_bind = "value: BuildMemory" })
    </div>
    <div class="notebook-scope passive animated">
        @Html.EditorFor(m => m.RAM, new { data_bind = "value: RAM" })
        <div class="item-control">
            @Html.LabelFor(m => m.OperatingSystem, new { @class = "label-control" })
            @CreateSelect(OperSystemList, "OperatingSystem")
        </div>
        <div class="item-control">
            @Html.LabelFor(m => m.HadrDisk, new { @class = "label-control" })
            @CreateSelect(HardDisks, "HardDisk")
        </div>
    </div>
    <div class="item-control">
        <a class="btn">Создать</a>
    </div>
</div>