@using Store.Models
@model Product

@{
    ViewBag.Title = "UserSale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="formItem">
    <h2>Подать объявление</h2>
    <div class="main-scope">
        @Html.EditorFor(m => m.Name, new { data_bind = "value: Name" })
        @Html.EditorFor(m => m.Price, new { data_bind = "value: Price" })
        @Html.EditorFor(m => m.Color, new { data_bind = "value: Color" })
        @Html.EditorFor(m => m.Date, new { data_bind = "value: DateOfCreate" })
        @Html.EditorFor(m => m.Bluetooth, new { data_bind = "value: Bluetooth" })
        @Html.EditorFor(m => m.WiFi, new { data_bind = "value: WiFi" })
        <div class="item-control">
            @Html.LabelFor(m => m.Manufacturers, new { @class = "label-control" })
            @Html.DropDownListFor(m => m.Manufacturers, ViewBag.Manufacturer as SelectList)
        </div>
        <div class="item-control">
            @Html.LabelFor(m => m.Display, new { @class = "label-control" })
            @Html.DropDownListFor(m => m.Display, ViewBag.Display as SelectList)
        </div>
        <div class="item-control">
            @Html.LabelFor(m => m.TypeProduct, new { @class = "label-control" })
            <select id="typeProduct" data-bind="selectedOptions:selectedItems">
                <option value="0">Тип продукта</option>
                <option value="1">Смартфон</option>
                <option value="2">Ноутбук</option>
                <option value="3">Телевизор</option>
            </select>
        </div>
    </div>
    <div class="optional passive animated fadeIn">
        @Html.EditorFor(m => m.RAM, new { data_bind = "value: RAM" })
        <div class="item-control">
            @Html.LabelFor(m => m.OperatingSystem, new { @class = "label-control" })
            @Html.DropDownListFor(m => m.OperatingSystem, ViewBag.OperSystem as SelectList)
        </div>
        <div class="item-control">
            @Html.LabelFor(m => m.Processor, new { @class = "label-control" })
            @Html.DropDownListFor(m => m.Processor, ViewBag.Processor as SelectList)
        </div>
        <div class="phone-scope passive animated fadeIn">
            @Html.EditorFor(m => m.BuildMemory, new { data_bind = "value: BuildMemory" })
            <div class="item-control">
                @Html.LabelFor(m => m.Camera, new { @class = "label-control" })
                @Html.DropDownListFor(m => m.Camera, ViewBag.Camera as SelectList)
            </div>
        </div>
        <div class="notebook-scope passive animated fadeIn">
            <div class="item-control">
                @Html.LabelFor(m => m.HadrDisk, new { @class = "label-control" })
                @Html.DropDownListFor(m => m.HadrDisk, ViewBag.HardDisk as SelectList)
            </div>
            <div class="item-control">
                @Html.LabelFor(m => m.VideoCard, new { @class = "label-control" })
                @Html.DropDownListFor(m => m.VideoCard, ViewBag.VideoCard as SelectList)
            </div>
        </div>
    </div>
    <div class="item-control">
        <a class="btn">Создать</a>
    </div>
</div>